xfire-core/src/test/org/codehaus/xfire/wsdl11/echo-xsd-choice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:tns="urn:echo:wrapped"
  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  targetNamespace="urn:echo:wrapped" name="Foo">
  <wsdl:types>
    <xsd:schema targetNamespace="urn:echo:wrapped"
      elementFormDefault="qualified" attributeFormDefault="qualified">
      <xsd:element name="echo">
			<xsd:complexType>
			<xsd:choice>
			<xsd:sequence>
			<xsd:element minOccurs="0" maxOccurs="1" name="Text1" type="xsd:string"/>
			</xsd:sequence>
			<xsd:sequence>
			<xsd:element minOccurs="0" maxOccurs="1" name="Text2" type="xsd:string"/>
			</xsd:sequence>
			</xsd:choice>
			</xsd:complexType>
      </xsd:element>
      <xsd:element name="echoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="text" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="echo">
    <wsdl:part element="tns:echo" name="parameters" />
  </wsdl:message>
  <wsdl:message name="echoResponse">
    <wsdl:part element="tns:echoResponse" name="parameters" />
  </wsdl:message>
  <wsdl:portType name="EchoPortType">
    <wsdl:operation name="echo">
      <wsdl:input message="tns:echo" name="echo" />
      <wsdl:output message="tns:echoResponse" name="echoResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EchoHttpBinding" type="tns:EchoPortType">
    <wsdlsoap:binding style="document"
      transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="echo">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="echo">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="echoResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Echo">
    <wsdl:port binding="tns:EchoHttpBinding" name="EchoHttpPort">
      <wsdlsoap:address
        location="http://localhost:8080/xfire/services/Echo" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
